doctype html(lang='en')
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='description', content='A demo of the IBM Graph Data Store')
    meta(name='author', content='Mike Elsmore <mike.elsmore@uk.ibm.com>')
    title 6 Degrees of Kevin Bacon
    // Bootstrap core CSS
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css", rel="stylesheet")
    link(href="https://raw.githubusercontent.com/bassjobsen/typeahead.js-bootstrap-css/master/typeaheadjs.css", rel="stylesheet")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.5.0/vis.min.css", rel="stylesheet")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
    link(href="/assets/ibm-cds.css", rel="preferred stylesheet")
    // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
  body
    .navbar.navbar-default.navbar-static-top
      .container-fluid
        .navbar-header
            img.navbar-brand(src="https://graph-data-store-docs.ng.bluemix.net/images/graphdb-logo.png")
        .collapse.navbar-collapse
          p.navbar-text 6 Degrees of Kevin Bacon
    .container
      .jumbotron
        h1 Find the bacon number
        p.lead The Bacon number of an actor or actress is the number of degrees of separation he or she has from Bacon, as defined by the game. This is an application of the 
          a(href="https://en.wikipedia.org/wiki/Erd%C5%91s_number") Erdős number 
          | to the Hollywood movie industry. The higher the Bacon number, the farther away from Kevin Bacon the actor is.
        p This demo is built on top of the 
          a(href="https://console.ng.bluemix.net/catalog/graph-data-store") Graph Data Store
          |  and you can look into how to query the API in the 
          a(href="https://graph-data-store-docs.ng.bluemix.net/") Documentation
          | .
        form.form-inline
          .form-group
            label(for='actors')  
            input#actor.form-control.typeahead(type="text", placeholder="Actor")
          .checkbox
            label
              input#showall(type="checkbox")
              | Show All Paths
          button.btn.btn-primary(type='submit') Find

      .row.marketing.hidden
        .col-lg-12
          h4.heading Query
          pre
            code#query

      .row.marketing.hidden
        .col-lg-6
          h4.heading Data        
          pre
            code#graph-data
        .col-lg-6
          h4.heading The Graph
          #the-graph
      footer.footer
        p &copy; IBM 2015
    // /container
    script(type="text/javascript", src="http://code.jquery.com/jquery-2.1.4.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.5.0/vis.min.js")
    script(type="text/javascript", src="assets/traversal.js")
    script(type="text/javascript", src="assets/app.js")
